.data {
    padding: 15px 0;
}

.data input {
    border-radius: 4px;
    border: 1px solid lightgray;
    height: 25px;
    font-size: 12px;
    padding-left: 10px;
    margin-right: 5px;
    width: 75px;
}

.data input[type='color'] {
    width: 25px;
    padding: 0 3px;
}

.data button {
    margin: 0 5px;
    height: 28px;
    width: 50px;
    background-color: #5cb85c;
    font-size: 12px;
    letter-spacing: 1.2px;
    color: white;
    border-radius: 4px;
    border: 1px solid #4cae4c;
}

.values {
    float: left;
    width: 250px;
}

.values div * {
    display: inline-block;
    margin: 0px;
}

.values div h1  {
    min-width: 120px;
    font-size: 40px;
    line-height: 40px;
}

.values div span {
    height: 10px;
    width: 15px;
    margin-right: 10px;
}

.values div p {
    font-size: 14px;
}

.center {
    position: relative;
    float: left;
    height: 284px;
    width: 284px;
    z-index: 20;
}

.canvas {
    position: absolute;
    top: -1px;
    left: -1px;
    opacity: 0.9;
    z-index: 30;
}

.center .default-slider {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 15px solid transparent;
    cursor: pointer;
    z-index: 40;
}

.center .default-slider .angle-input-knob {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: rotate(-90deg);
    height: 0;
    background-color: black;
    z-index: 40;
}

.center .default-slider .angle-input-knob::before {
    content: '';
    position: absolute;
    margin-top: -7px;
    top: 50%;
    right: -16px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid gray;
}

.center .default-slider-border {
    border: 15px solid lightgray;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    cursor: pointer;
    z-index: 10;
}

.center .blank {
    position: absolute;
    background-color: transparent;
    width: 284px;
    height: 284px;
    border-radius: 50%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 50;
}